<a href="https://colab.research.google.com/github/educhel/L03_Data_Analysis/blob/main/0109_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

실전! 데이터 실습 (2)
===

## [1] 인덱싱 실습

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/새싹2기/데이터분석/data/titanic.csv')

### (1) 첫 번째 행의 데이터를 선택하세요.

In [3]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
titanic.shape

(891, 15)

In [6]:
titanic.index

RangeIndex(start=0, stop=891, step=1)

In [5]:
titanic.iloc[0]

survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

In [7]:
titanic.loc[0]

survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

### (2) 첫 번째부터 다섯 번째 행까지, age와 fare 컬럼의 데이터를 선택하세요.

In [8]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [9]:
# 정수 위치 기반 인덱싱
titanic.iloc[0:5,[3,6]]

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [12]:
# 이름(라벨) 기반 인덱싱
titanic.loc[0:4,['age','fare']]

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

### (3) 승객 중에서 class가 First인 승객만 선택하세요.

In [13]:
# 조건식
titanic['class'] == 'First'

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: class, Length: 891, dtype: bool

In [14]:
titanic[titanic['class'] == 'First']

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

### (4) age가 30 이상인 승객의 fare와 survived 선택하세요.

In [16]:
titanic.loc[titanic['age'] >= 30,['fare','survived']]

        fare  survived
1    71.2833         1
3    53.1000         1
4     8.0500         0
6    51.8625         0
11   26.5500         1
..       ...       ...
873   9.0000         0
879  83.1583         1
881   7.8958         0
885  29.1250         0
890   7.7500         0

[330 rows x 2 columns]

### (5) embark_town이 Southampton이고, fare가 50 이상인 승객의 정보를 선택하세요.

In [18]:
# 다중 선택

condition1 = titanic['embark_town'] == 'Southampton' # 비교연산
condition2 = titanic['fare'] >= 50 # 비교연산

titanic.loc[condition1 & condition2,:]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
35,0,1,male,42.0,1,0,52.0000,S,First,man,True,NaN,Southampton,no,False
62,0,1,male,45.0,1,0,83.4750,S,First,man,True,C,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
856,1,1,female,45.0,1,1,164.8667,S,First,woman,False,NaN,Southampton,yes,False
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
867,0,1,male,31.0,0,0,50.4958,S,First,man,True,A,Southampton,no,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False

In [20]:
# 다중 선택

condition1 = titanic['embark_town'] == 'Southampton' # 비교연산
condition2 = titanic['fare'] >= 100 # 비교연산

titanic.loc[condition1 & condition2,:].shape

(24, 15)

## [2] 필터링 실습

### (1) 생존한 승객 중(survived)에서 각 등급(pclass)별 승객 수를 구하세요.

In [23]:
titanic['survived'].value_counts()

survived
0    549
1    342
Name: count, dtype: int64

In [25]:
titanic.loc[titanic['survived'] == 1,'pclass'].value_counts()

pclass
1    136
3    119
2     87
Name: count, dtype: int64

### (2) 타이타닉호의 승객 중에서 형제자매/배우자 (sibsp 참고)가 없고, 20세 이하인 승객의 평균 요금을 계산하세요.

In [27]:
titanic.dtypes

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
dtype: object

In [30]:
titanic.loc[(titanic['sibsp'] == 0)&(titanic['age']<=20),'fare'].mean()

np.float64(19.13174891304348)

In [31]:
titanic.mean(numeric_only=True)

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

### (3) 생존한 승객 중 나이가 기록된 승객의 평균 나이를 구하세요.

In [32]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [33]:
titanic.loc[titanic['survived'] == 1,'age'].mean()

np.float64(28.343689655172415)

### (4) 'Southampton'에서 탑승하고 생존한 승객 중, 남성과 여성의 비율을 구하세요.

In [35]:
titanic.loc[
            (titanic['embark_town'] == 'Southampton') & (titanic['survived']==1), # 행 필터링
            'sex' # 열 선택
            ].value_counts(normalize=True) # 선택한 하나의 시리즈를 대상으로 값 세기 (비중)

sex
female    0.645161
male      0.354839
Name: proportion, dtype: float64

In [36]:
titanic.loc[
            (titanic['survived']==1), # 행 필터링
            'sex' # 열 선택
            ].value_counts(normalize=True) # 선택한 하나의 시리즈를 대상으로 값 세기 (비중)

sex
female    0.681287
male      0.318713
Name: proportion, dtype: float64

In [37]:
titanic['sex'].value_counts(normalize=True)

sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64

실전! 데이터 실습 (3)
===

## [1] 값 수정하기

### titanic 데이터에서 index가 888인 사람의 나이(age)를 30으로 수정해 보세요.

In [40]:
# 접근 -> 할당
titanic.loc[888,'age'] = 30

In [41]:
titanic.loc[888]

survived                 0
pclass                   3
sex                 female
age                   30.0
sibsp                    1
parch                    2
fare                 23.45
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 888, dtype: object

## [2] 컬럼 정리하기

### 성별 컬럼 이름을 sex → gender로 변경하고, 원본 titanic에 반영하세요.

In [43]:
titanic.rename(columns={'sex':'gender'},inplace=True)

In [44]:
titanic.head()

,survived,pclass,gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True